.cardContainer {
  &__card {
    margin-bottom: 20px;
    border: 2px solid $white;
    overflow: hidden;
    border-radius: 10px;
    &.flipped{
      &
    }
    img {
      width: 100%;
      height: 100%;
      &.front {
        transform: rotate(90deg);
        position: absolute;
      }
    }
  }
}
// .card .front {
//   transform: rotateY(90deg);
//   position: absolute;
// }
// .flipped .front {
//   transform: rotateY(0deg);
// }
